// Historical source: objects.standard-object.scss:216-223
@include bem.extend('extend', 'mod1', 'mod2') {
  content: 'extend';
  @include bem.extend('icon', 'mod1', 'mod2') {
    content: 'EXTENDED PATTERN WITH DOUBLE MODIFIER';
    @include bem.block ( $name: 'icon' ) {
    	content: 'BLOCK INSIDE BLOCK';
    }
  }
}
