@include bem.block('standard-object') { @include bem.element('gigi') { @include bem.modifier('fatherdMod') {
@include bem.block('icon') {
  content: 'BLOCK INSIDE BLOCK';
  @include bem.modifier('mod') { content: 'BLOCK INSIDE BLOCK WITH SINGLE MODIFIER'; }
  @include bem.element('nested-element') {
    @include bem.modifier('nestedMod') { content: 'nestedMod'; }
  }
}

@at-root { /* characterization-probe-begin */ }
@include bem.element('pippo') {
  content: 'pippo';
  @include bem.modifier('mod') { content: 'mod'; }
}
@include bem.element('test-ele') { content: 'test-ele'; }

@at-root { /* characterization-probe-end */ }
}}}